._*
*~

*.[568avq]
[568avq].out
core

_cgo_*
_obj
_test
_testmain.go
test.out
vendor/
_?vendor
Godeps/_vendor
Godeps/_workspace
**/*.coverprofile

*.o
*.a
*.obj
*.elf
*.dylib
*.[as]o
*.[568ao]
*.exe
*.exe~
*.com
*.dll
*.sw[a-z]
*.cgo*.go
*.cgo*.c
.*.sw[a-z]

*.[7gx]z
*.[jrt]ar
*.zip

*.rej
*.orig

*.log

*.test
*.prof
*.out

.git

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.Spotlight-*
.Trash*

.vagrant

.direnv
.envrc

Icon?
Icon[]

.idea
.vscode

coverage/
coverage.*
