language: go

cache:
  - apt

go:
  - 1.7.3
  - tip

env:
  matrix:
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=gcc
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=clang
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=gcc
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=clang
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=gcc
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=clang
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=gcc
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=clang
    - VERSION=5.29 SHA1=8d360aeed901e3e4f4d4a865696ac1e29efdfcca COMPILER=gcc
    - VERSION=5.29 SHA1=8d360aeed901e3e4f4d4a865696ac1e29efdfcca COMPILER=clang

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

branches:
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: change

before_install:
  - export CC=$(which $COMPILER)
  - export URL="https://gist.githubusercontent.com/kwilczynski/9270161/raw/2a4946c0b745b2bfdd124a14c1290d1290ebf64c/libmagic.sh"
  - curl -L -s $URL > libmagic.sh
  - sudo -H -E VERSION=$VERSION SHA1=$SHA1 CC=$CC PATH=$PATH bash libmagic.sh

install:
  - make tools

before_script:
  - make clean

script:
  - make test

after_success:
  - make coverage
