language: go

cache:
  - apt

go:
  - 1.5.3
  - 1.6
  - tip

env:
  matrix:
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=gcc
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=clang
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=gcc
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=clang
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=gcc
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=clang
    - VERSION=5.19 SHA1=0dff09eb44fde1998be79e8d312e9be4456d31ee COMPILER=gcc
    - VERSION=5.19 SHA1=0dff09eb44fde1998be79e8d312e9be4456d31ee COMPILER=clang
    - VERSION=5.21 SHA1=9836603b75dde99664364b0e7a8b5492461ac0fe COMPILER=gcc
    - VERSION=5.21 SHA1=9836603b75dde99664364b0e7a8b5492461ac0fe COMPILER=clang
    - VERSION=5.22 SHA1=20fa06592291555f2b478ea2fb70b53e9e8d1f7c COMPILER=gcc
    - VERSION=5.22 SHA1=20fa06592291555f2b478ea2fb70b53e9e8d1f7c COMPILER=clang
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=gcc
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=clang

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

branches:
  only:
    - master

before_install:
  - make tools

install:
  - export SCRIPT_URL="https://gist.githubusercontent.com/kwilczynski/9270161/raw/ba0e5a8b00f8897d4bf47c1e670137f34df009b3/libmagic.sh"
  - travis_retry curl -L -s $SCRIPT_URL > libmagic.sh
  - CC=$COMPILER sudo -E bash libmagic.sh

before_script:
  - make clean

script:
  - export CC=$COMPILER
  - make test

after_success:
  - make coverage
