language: go
cache:
  - apt
go:
  - 1.0
  - 1.1
  - 1.1.2
  - 1.2
  - 1.2.1
  - tip
env:
  - VERSION=5.09 CHECKSUM=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=gcc
  - VERSION=5.09 CHECKSUM=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=clang
  - VERSION=5.14 CHECKSUM=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=gcc
  - VERSION=5.14 CHECKSUM=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=clang
  - VERSION=5.17 CHECKSUM=f7e837a0d3e4f40a02ffe7da5e146b967448e0d8 COMPILER=gcc
  - VERSION=5.17 CHECKSUM=f7e837a0d3e4f40a02ffe7da5e146b967448e0d8 COMPILER=clang
matrix:
  allow_failures:
    - go: tip
  fast_finish: true
branches:
  only:
    - master
install: true
before_script:
  - travis_retry curl -L -s http://git.io/vCCR6g > libmagic.sh
  - travis_retry sudo VERSION=$VERSION CHECKSUM=$CHECKSUM CC=$COMPILER bash libmagic.sh
  - travis_retry go get -v -x github.com/kwilczynski/go-magic
script: go test -v -x ./... -run '^Test.*'
