language: go
dist: precise

cache:
  - apt

go:
  - "1.11.x"
  - tip

env:
  matrix:
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=gcc
    - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=clang
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=gcc
    - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=clang
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=gcc
    - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=clang
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=gcc
    - VERSION=5.25 SHA1=fea78106dd0b7a09a61714cdbe545135563e84bd COMPILER=clang
    - VERSION=5.32 SHA1=c2858a8043387d1229d8768ad42762a803d017db COMPILER=gcc
    - VERSION=5.32 SHA1=c2858a8043387d1229d8768ad42762a803d017db COMPILER=clang
    - VERSION=5.35 SHA1=a6f73580a93b768bfedd01ba54868375b7eb7bd0 COMPILER=gcc
    - VERSION=5.35 SHA1=a6f73580a93b768bfedd01ba54868375b7eb7bd0 COMPILER=clang

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

branches:
  only:
    - master
    - development

notifications:
  email:
    on_success: change
    on_failure: change

before_install:
  - export CC=$(which $COMPILER)
  - sudo -H -E -n VERSION=$VERSION SHA1=$SHA1 CC=$CC PATH=$PATH scripts/libmagic.sh

install:
  - make tools

before_script:
  - make clean

script:
  - make test

after_success:
  - make coverage
