language: go
cache:
  - apt
go:
  - 1.1.2
  - 1.2.2
  - 1.3
  - tip
env:
  global:
    - secure: "XQqZEEe/8ReX+skXY6igttJOKXBSDvmdohA3WJTFUDLcrpp/Wiob1O0yI8RQIh7QYd8uFQfIpF9ZrEG1L4QTMHHXS3CrPBP3kFZ3uC4Xk8Uf2PXP0HhSetB1nELSb9TXCB3r80GXHQ7yoqjcgbek5G61n2R6UOXm7vE0z8J0WtM="
  - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=gcc
  - VERSION=5.09 SHA1=9d905f9e50033c3f5be3728473cbb709a41550fb COMPILER=clang
  - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=gcc
  - VERSION=5.14 SHA1=064c8f17a5f7ae1e336a9285131e046d3b2d04d7 COMPILER=clang
  - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=gcc
  - VERSION=5.18 SHA1=8753e72097f2cc935608e3b1c57c4c4e31bd8d21 COMPILER=clang
  - VERSION=5.19 SHA1=0dff09eb44fde1998be79e8d312e9be4456d31ee COMPILER=gcc
  - VERSION=5.19 SHA1=0dff09eb44fde1998be79e8d312e9be4456d31ee COMPILER=clang
matrix:
  fast_finish: true
  allow_failures:
    - go: tip
branches:
  only:
    - master
before_install:
  # TODO(kwilczynski): Possibly a good candidate for https://github.com/tools/godep.
  - travis_retry go get -v -x code.google.com/p/go.tools/cmd/cover
  - travis_retry go get -v -x github.com/axw/gocov/gocov
  - travis_retry go get -v -x github.com/mattn/goveralls
install: true
before_script:
  - export PATH=${PATH}:${HOME}/gopath/bin:${GOPATH}
  - travis_retry sudo apt-get install -y --force-yes bc
  - export GO_VERSION=$(go version | perl -ne 'print $1 if /^.+go([0-9]\.[0-9])/')
  - if [ ! "x$(echo "$GO_VERSION < 1.2" | bc)" == "x0" ]; then COMPILER=gcc; fi
  - export CC=$COMPILER
  - alias gcc=$COMPILER # XXX(kwilczynski): Ugly hack for Go prior to 1.2 and clang.
  - export SCRIPT_URL="https://gist.githubusercontent.com/kwilczynski/9270161/raw/fd864e8ed83889faba251f298bf28dd0de6b3962/libmagic.sh"
  - travis_retry curl -L -s $SCRIPT_URL > libmagic.sh
  - travis_retry sudo VERSION=$VERSION SHA1=$SHA1 CC=$COMPILER bash libmagic.sh
  - travis_retry go get -v -x github.com/kwilczynski/go-magic
script:
  - goveralls -v -repotoken $REPOSITORY_TOKEN
